---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import MainContainer from "../components/MainContainer.astro";
import Footer from "../components/Footer.astro";
import CardLayout from "../layouts/CardLayout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Fully Straped.">
  <MainContainer subtitle="Portal of my experiences" title="Fully Strapped" />
  <div class="">
    <CardLayout>
      <Card
        title="Components"
        description="Various components that I have either created or cloned"
        img="components.jpg"
        url="/Assets"
      />
      <Card
        title="Layouts"
        description="In progress"
        img="layouts.jpg"
        url="#"
      />
      <Card
        title="Web Pages"
        description="In progress"
        img="theme.jpg"
        url="#"
      />
    </CardLayout>
    <Footer />
  </div>
</Layout>
