<div>
  <svg
    class="waves"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28"
    preserveAspectRatio="none"
    shape-rendering="auto"
  >
    <defs>
      <path
        id="gentle-wave"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      ></path>
    </defs>
    <g class="parallax">
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="0"
        class="fill-[rgba(114,137,218,0.7)] dark:fill-gray-900"></use>
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="3"
        class="fill-[rgba(114,137,218,0.5)] dark:fill-gray-800"></use>
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="5"
        class="fill-[rgba(114,137,218,0.3)] dark:fill-gray-700"></use>
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="7"
        class="fill-[#7289da] dark:fill-gray-900"></use>
    </g>
  </svg>
</div>

<footer class="bg-[#7289da] dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="" class="flex items-center">
          <img src="/fullyStrappedLogo.svg" class="h-8 mr-3" alt="Logo" />
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
            >Fully Strapped</span
          >
        </a>
      </div>
      <div
        class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3 dark:text-white"
      >
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 dark:text-white uppercase"
          >
            Resources
          </h2>
          <ul class="font-medium">
            <li class="mb-4">
              <a href="https://astro.build/" class="hover:underline">Astro js</a
              >
            </li>
            <li>
              <a href="https://tailwindcss.com/" class="hover:underline"
                >Tailwind CSS</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Follow me
          </h2>
          <ul class="font-medium">
            <li class="mb-4">
              <a href="https://github.com/Infernus007" class="hover:underline"
                >Github</a
              >
            </li>
            <li>
              <a href="https://discord.gg/4eeurUVvTy" class="hover:underline"
                >Discord</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Legal
          </h2>
          <ul class="font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Privacy Policy</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Terms &amp; Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm sm:text-center dark:text-gray-400"
        >© 2023 <a href="#" class="hover:underline">Fully Strapped™</a>. All
        Rights Reserved.
      </span>
      
    </div>
  </div>
</footer>

<style>
  /*Waves*/

  .waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 400px;
  }
  /* Animation */
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
    .content {
      height: 30vh;
    }
  }

  /*Other*/

  .unique-color-dark {
    background-color: #7289da !important;
  }

  .bg-light {
    background-color: #7289da !important;
  }

  .navbar-brand {
    color: white;
  }

  .custom-color {
    background-color: #7289da !important;
  }
</style>
