---
import SearchInput from "./SearchInput.astro";
import { Image } from "astro:assets";
interface Props {
  title: string;
  subtitle?: string;
  image?: string;
  transitionName?: string;
}

const {
  title,
  subtitle,
  transitionName,
  image = "/src/assets/background.avif",
} = Astro.props;

const images = import.meta.glob("/src/assets/*.{jpeg,jpg,png,gif,avif,svg}");

console.log(images);

console.log(image);
---

<div class="z-1 relative text-white">
  <div class="mx-3 mt-3">
    <div
      class="p-3 md:p-6 relative lg:p-12 text-center rounded-3xl overflow-hidden h-[25vh] lg:h-[calc(80vh-24px)]"
    >
      <Image
        transition:name={transitionName}
        src={images[image]()}
        alt={title}
        height="1080"
        width="1280"
        class="object-cover w-full h-full rounded-3xl absolute inset-0"
      />

      <div
        class="mx-auto h-full flex flex-col gap-6 md:gap-9 justify-center items-center relative z-1"
      >
        <div class="text-3xl md:text-4xl lg:text-9xl font-bold">
          {title.charAt(0).toUpperCase() + title.slice(1)}
        </div>
        <p class="text-base md:text-lg">
          {subtitle}
        </p>
      </div>

      <!-- <SearchInput /> -->
    </div>
  </div>
</div>
