---

---

<style></style>
<div
  class="preview-wrapper flex flex-col justify-start max-w-[1200px] container mx-auto"
>
  <div>
    <slot name="description" />
  </div>
  <div
    class="element-wrapper p-5 border border-slate-500 rounded-tl-md rounded-tr-md"
  >
    <div class="flex justify-center items-center max-w-[90%]">
      <slot name="element" />
    </div>
  </div>
  <div class="preview flex flex-col justify-center">
    <slot />
  </div>
</div>

