---
import HomeIcon from "/home.svg?raw";
import ComponentIcon from "/component.svg?raw";
import LayoutIcon from "/theme.svg?raw";
import SearchIcon from "/search.svg?raw";

import SidebarItem from "./SidebarItem.astro";
import DrawerItems from "./DrawerItems.astro";

import { getCollection } from "astro:content";
import ThemeToggler from "./ThemeToggler.astro";

//@ts-ignore
const allComponents = await getCollection("assets");
const components = allComponents.map((e) => e.data.title);

const allLayouts = await getCollection("layouts");
const layouts = allLayouts.map((e) => e.data.title);
---

<div class="wrapper">
  <div class="navigation-rail-wrapper">
    <div class="navigation-rail">
      <div class="navigation">
        <nav class="navigation-items">
          <a role="button" href="#" class="navigation-item">
            <span class="navigation-item-icon">
              <i class="fa-solid fa-house"></i>
            </span>
            <div class="navigation-item-label">Home</div>
            <div class="spacer"></div>
          </a>
          <a
            data-drawer-target="components"
            role="button"
            href="#"
            class="navigation-item"
          >
            <span class="navigation-item-icon">
              <i class="fa-solid fa-house"></i>
            </span>
            <div class="navigation-item-label">Components</div>
            <div class="spacer"></div>
            <div class="navigation-item-following-icon">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </a>

          <a
            data-drawer-target="styles"
            role="button"
            href="#"
            class="navigation-item"
          >
            <span class="navigation-item-icon">
              <i class="fa-solid fa-star-of-david"></i>
            </span>
            <div class="navigation-item-label">Styles</div>
            <div class="spacer"></div>

            <div class="navigation-item-following-icon">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </a>
        </nav>
      </div>

      <div class="theme-toggler" role="button">
        <div class="toggler">
          <span class="icon" id="sun">
            <i class="fa-solid fa-sun fa-2xl"></i>
          </span>
          <span class="icon" id="moon">
            <i class="fa-solid fa-moon fa-2xl"></i>
          </span>
        </div>
        <div class="toggler__label">
          <span>Change the theme</span>
        </div>
      </div>
    </div>
  </div>

  <div class="navigation-drawer">
    <aside class="drawer-wrapper" aria-expanded="false">
      <nav class="drawer-navigation">
        <div data-drawer="components" class="drawer-navigation-items">
          <a role="button" href="#" class="drawer-navigation-item drawer-close">
            <span class="drawer-navigation-item-icon">
              <i class="fa-solid fa-arrow-left"></i>
            </span>
            <span class="drawer-navigation-item-label">Main menu</span>
            <span class="spacer"></span>
            <span class="drawer-navigation-item-following-icon"> </span>
          </a>

          
          <div
            role="button"
            class="drawer-navigation-dropdown-item"
            aria-expanded="false"
          >
            <div class="drawer-navigation-item-toggler">
              <span class="drawer-navigation-item-icon">
                <i class="fa-solid fa-fire fa-lg"></i>
              </span>
              <span class="drawer-navigation-item-label">Dropdown Item</span>
              <span class="spacer"></span>
              <span class="drawer-navigation-item-following-icon">
                <i class="fa-brands fa-vaadin fa-sm"></i>
              </span>
            </div>

            <div class="dropdown-items">
              <!-- drop down item -->

              <!-- item 1 -->
              <a href="#" class="drawer-navigation-item dropdown-item">
                <span class="drawer-navigation-item-icon">
                  <i class="fa-solid fa-fire fa-lg"></i>
                </span>
                <span class="drawer-navigation-item-label">Normal Item 1</span>
                <span class="spacer"></span>
                <span class="drawer-navigation-item-following-icon"> </span>
              </a>
              <!-- item 2 -->
              <a href="#" class="drawer-navigation-item dropdown-item">
                <span class="drawer-navigation-item-icon">
                  <i class="fa-solid fa-fire fa-lg"></i>
                </span>
                <span class="drawer-navigation-item-label">Normal Item 2</span>
                <span class="spacer"></span>
                <span class="drawer-navigation-item-following-icon"> </span>
              </a>

              <!-- drop down items end -->
            </div>
          </div>
        </div>
        <div data-drawer="styles" class="drawer-navigation-items">
          <a role="button" href="#" class="drawer-navigation-item drawer-close">
            <span class="drawer-navigation-item-icon">
              <i class="fa-solid fa-arrow-left"></i>
            </span>
            <span class="drawer-navigation-item-label">Main menu</span>
            <span class="spacer"></span>
            <span class="drawer-navigation-item-following-icon"> </span>
          </a>

          <a role="button" href="#" class="drawer-navigation-item">
            <span class="drawer-navigation-item-icon">
              <i class="fa-solid fa-fire fa-lg"></i>
            </span>
            <span class="drawer-navigation-item-label">Normal Item 2</span>
            <span class="spacer"></span>
            <span class="drawer-navigation-item-following-icon"> </span>
          </a>
          <div
            role="button"
            class="drawer-navigation-dropdown-item"
            aria-expanded="false"
          >
            <div class="drawer-navigation-item-toggler">
              <span class="drawer-navigation-item-icon">
                <i class="fa-solid fa-fire fa-lg"></i>
              </span>
              <span class="drawer-navigation-item-label">Dropdown Item 3</span>
              <span class="spacer"></span>
              <span class="drawer-navigation-item-following-icon">
                <i class="fa-brands fa-vaadin fa-sm"></i>
              </span>
            </div>

            <div class="dropdown-items">
              <!-- drop down item -->

              <!-- item 1 -->
              <a href="#" class="drawer-navigation-item dropdown-item">
                <span class="drawer-navigation-item-icon">
                  <i class="fa-solid fa-fire fa-lg"></i>
                </span>
                <span class="drawer-navigation-item-label">Normal Item 1</span>
                <span class="spacer"></span>
                <span class="drawer-navigation-item-following-icon"> </span>
              </a>
              <!-- item 2 -->
              <a href="#" class="drawer-navigation-item dropdown-item">
                <span class="drawer-navigation-item-icon">
                  <i class="fa-solid fa-fire fa-lg"></i>
                </span>
                <span class="drawer-navigation-item-label">Normal Item 2</span>
                <span class="spacer"></span>
                <span class="drawer-navigation-item-following-icon"> </span>
              </a>

              <!-- drop down items end -->
            </div>
          </div>
        </div>
      </nav>
    </aside>
  </div>
</div>

<script>
  import $ from "jquery";
  $(document).ready(function () {
    // Show the first drawer item by default
    var defaultItem = $(".sidebar-item:first");
    var defaultId = defaultItem.data("sidebaritemhover");
    $("#" + defaultId + "-drawer-items").fadeIn(300);

    // Hide all other drawer items by default
    $(".drawer-items")
      .not("#" + defaultId + "-drawer-items")
      .hide();

    $("#sidebar").on("mouseenter", ".sidebar-item", function () {
      var id = $(this).data("sidebaritemhover");
      console.log(id);
      $("#" + id + "-drawer-items").fadeIn(300);
      $(".drawer-items")
        .not("#" + id + "-drawer-items")
        .hide();
    });
  });
</script>
