---
interface Props {
  title?: string;
  fontAwesomeIcon: HTMLElement;
  url?: string;
}

const { title, fontAwesomeIcon, url } = Astro.props;
const id = title?.toLocaleLowerCase();
---

<a role="button" href={url} class="drawer-navigation-item">
  <span class="drawer-navigation-item-icon">
    {fontAwesomeIcon}
  </span>
  <span class="drawer-navigation-item-label">{title}</span>
  <span class="spacer"></span>
  <span class="drawer-navigation-item-following-icon"> </span>
</a>
